In [1]:
from sklearn.preprocessing import scale
from sklearn.datasets import load_iris
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

iris = load_iris()
df_iris = pd.DataFrame(data=iris.data,columns=['sepal length','sepal width','petal length','petal width'])
df_iris.head()

   sepal length  sepal width  petal length  petal width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [6]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=3,max_iter=300,random_state=0)
kmeans.fit(df_iris)

kmeans.labels_

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 2, 2, 2, 2, 0, 2, 2, 2,
       2, 2, 2, 0, 0, 2, 2, 2, 2, 0, 2, 0, 2, 0, 2, 2, 0, 0, 2, 2, 2, 2,
       2, 0, 2, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 0])

In [8]:
df_iris['cluster'] = kmeans.labels_
df_iris['target'] = iris.target
df_iris

     sepal length  sepal width  petal length  petal width  cluster  target
0             5.1          3.5           1.4          0.2        1       0
1             4.9          3.0           1.4          0.2        1       0
2             4.7          3.2           1.3          0.2        1       0
3             4.6          3.1           1.5          0.2        1       0
4             5.0          3.6           1.4          0.2        1       0
..            ...          ...           ...          ...      ...     ...
145           6.7          3.0           5.2          2.3        2       2
146           6.3          2.5           5.0          1.9        0       2
147           6.5          3.0           5.2          2.0        2       2
148           6.2          3.4           5.4          2.3        2       2
149           5.9          3.0           5.1          1.8        0       2

[150 rows x 6 columns]

In [13]:
df_iris.groupby(['cluster','target']).count()['petal width']

cluster  target
0        1         48
         2         14
1        0         50
2        1          2
         2         36
Name: petal width, dtype: int64

In [20]:
from sklearn.decomposition import PCA

pca = PCA(n_components=2)
iris_data_pca = pca.fit_transform(iris.data)


x_pca = iris_data_pca[:,0]
y_pca =  iris_data_pca[:,1]




plt.scatter(x= ,y=)

array([ 0.31939725, -0.17700123, -0.14494943, -0.31829898,  0.32675451,
        0.74133045, -0.08946138,  0.16338496, -0.57831175, -0.11377425,
        0.6450689 ,  0.01472994, -0.235112  , -0.51139459,  1.17876464,
        1.33806233,  0.81067951,  0.31184914,  0.87283904,  0.51356031,
        0.39134594,  0.43299606,  0.13346807,  0.09870885, -0.03728186,
       -0.14601688,  0.13095149,  0.36771886,  0.31203998, -0.19696122,
       -0.20431849,  0.41092426,  0.81336382,  1.09314576, -0.12132235,
        0.06936447,  0.59937002,  0.26864374, -0.48795834,  0.22904384,
        0.26352753, -0.94096057, -0.34192606,  0.18887143,  0.43666314,
       -0.2502082 ,  0.50377114, -0.22794557,  0.57941002,  0.10770608,
        0.68516047,  0.31833364,  0.50426282, -0.82795901,  0.07459068,
       -0.41824687,  0.28346827, -1.00489096,  0.2283619 , -0.72308191,
       -1.26597119, -0.10398124, -0.55003646, -0.12481785, -0.25485421,
        0.46717949, -0.35296967, -0.33361077, -0.54314555, -0.58383438,
       -0.08461685, -0.06892503, -0.32778731, -0.18273779,  0.14905594,
        0.32850447,  0.24444088,  0.26749545, -0.1633503 , -0.36826219,
       -0.70517213, -0.68028676, -0.31403244, -0.42095429, -0.48428742,
        0.19418231,  0.40761959, -0.37203706, -0.2685244 , -0.68192672,
       -0.67071154, -0.03446444, -0.40438585, -1.01224823, -0.50491009,
       -0.21265468, -0.29321893,  0.01773819, -0.75609337, -0.34889781,
       -0.00984911, -0.57491635,  0.34390315, -0.1797279 , -0.04026095,
        0.55083667, -1.19275873,  0.3555    , -0.2438315 ,  0.78279195,
        0.24222841, -0.21563762,  0.21627559, -0.77681835, -0.53964071,
        0.11925069,  0.04194326,  1.17573933,  0.25732297, -0.76114964,
        0.37819601, -0.60609153,  0.4606741 , -0.20439933,  0.33499061,
        0.56090136, -0.17970479, -0.11666865, -0.20972948,  0.4646398 ,
        0.37526917,  1.37416509, -0.21727758, -0.14341341, -0.49990168,
        0.68808568,  0.1400642 ,  0.04930053, -0.16499026,  0.37228787,
        0.18365128,  0.40920347, -0.57491635,  0.2778626 ,  0.3047982 ,
        0.1875323 , -0.37531698,  0.07885885,  0.11662796, -0.28266094])